body {
  background-color: green;
}

h1 {
  color: black;
  text-align: center;
}

p {
   font-family: verdana;
  font-size:20px;
}
.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 50px;
  padding-left: 10px;
  text-transform: uppercase;
  
  .content {
  padding: 40px;
}
  
  .image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
}
